@page "/mis-vivencias"
@inject AppDbContext DbContext
@inject NavigationManager NavigationManager
@using DiarioVideojuegos.Data
@using DiarioVideojuegos.Models
@using Microsoft.EntityFrameworkCore


<h3>Mis Vivencias</h3>

@if (vivencias == null)
{
    <p>Cargando vivencias...</p>
}
else if (!vivencias.Any())
{
    <p>No tienes vivencias registradas.</p>
}
else
{
    @foreach (var vivencia in vivencias)
    {
        <div>
            <h4>@vivencia.Titulo</h4>
            <p>@vivencia.Descripcion</p>
        </div>
    }
}

@code {
    private List<Vivencia> vivencias = new();

    protected override async Task OnInitializedAsync()
    {
        // Carga las vivencias
        vivencias = await DbContext.Vivencias.ToListAsync();
    }
}